<a href="https://colab.research.google.com/github/dammy-50/Machine-Learning-Projects/blob/main/pysparkintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [31]:
from pyspark.sql import SparkSession

In [32]:
spark =SparkSession.builder.appName('Pyspark').getOrCreate()

In [33]:
spark

In [34]:
df= spark.read.csv('/content/drive/MyDrive/datascience/Datasets-Youtube-Pandas-main/DS/data_m1.csv',header=True,inferSchema=True)

### **Display Top 3 Rows of The Dataset**

In [35]:
df.show(3)

+-------+-----+-------------+
|   Name|Marks|       Grades|
+-------+-----+-------------+
|Priyang|   98|not available|
| Aadhya|   NA|           AB|
| Krisha|   99|           AA|
+-------+-----+-------------+
only showing top 3 rows

## **Display DataTypes Of each Column**

In [36]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Marks: string (nullable = true)
 |-- Grades: string (nullable = true)

## **Display Column Names**

In [37]:
df.columns

['Name', 'Marks', 'Grades']

## **Count Number of Rows and Columns**

In [38]:
df.count()

7

In [39]:
len(df.columns)

3

## **Get Overall Statistics About The Dataset**

In [40]:
df.describe().show()

+-------+------+-----------------+-------------+
|summary|  Name|            Marks|       Grades|
+-------+------+-----------------+-------------+
|  count|     7|                7|            7|
|   mean|  null|             91.2|         null|
| stddev|  null|7.259476565152615|         null|
|    min|Aadhya|               82|           AA|
|    max|Vedant|               NA|not available|
+-------+------+-----------------+-------------+

## **Find Unique Values Available In The Grade Column**

In [41]:
df.columns

['Name', 'Marks', 'Grades']

In [42]:
df.toPandas()['Grades'].unique()

array(['not available', 'AB', 'AA', 'NA', 'AC', 'BA', 'BB'], dtype=object)

## **Find Total Numbers Unique Values Available In The Grade Column**

In [43]:
len(df.toPandas()['Grades'].unique())

7

## **How to Select Single Column?**

In [44]:
df.show()

+-------+-----+-------------+
|   Name|Marks|       Grades|
+-------+-----+-------------+
|Priyang|   98|not available|
| Aadhya|   NA|           AB|
| Krisha|   99|           AA|
| Vedant|   87|           NA|
| Parshv|   90|           AC|
| Mittal|   NA|           BA|
|Archana|   82|           BB|
+-------+-----+-------------+

In [45]:
df.select('Name').show()

+-------+
|   Name|
+-------+
|Priyang|
| Aadhya|
| Krisha|
| Vedant|
| Parshv|
| Mittal|
|Archana|
+-------+

## **How to Select Multiple Columns**

In [46]:
df.select(['Name','Grades']).show()

+-------+-------------+
|   Name|       Grades|
+-------+-------------+
|Priyang|not available|
| Aadhya|           AB|
| Krisha|           AA|
| Vedant|           NA|
| Parshv|           AC|
| Mittal|           BA|
|Archana|           BB|
+-------+-------------+

## **Create New Column With Marks +1 and also update existing DataFrame**

In [47]:
df.withColumn('New_Marks',df.Marks+1).show()

+-------+-----+-------------+---------+
|   Name|Marks|       Grades|New_Marks|
+-------+-----+-------------+---------+
|Priyang|   98|not available|     99.0|
| Aadhya|   NA|           AB|     null|
| Krisha|   99|           AA|    100.0|
| Vedant|   87|           NA|     88.0|
| Parshv|   90|           AC|     91.0|
| Mittal|   NA|           BA|     null|
|Archana|   82|           BB|     83.0|
+-------+-----+-------------+---------+

In [48]:
df= df.withColumn('New_Marks',df.Marks+1)

In [49]:
df.show()

+-------+-----+-------------+---------+
|   Name|Marks|       Grades|New_Marks|
+-------+-----+-------------+---------+
|Priyang|   98|not available|     99.0|
| Aadhya|   NA|           AB|     null|
| Krisha|   99|           AA|    100.0|
| Vedant|   87|           NA|     88.0|
| Parshv|   90|           AC|     91.0|
| Mittal|   NA|           BA|     null|
|Archana|   82|           BB|     83.0|
+-------+-----+-------------+---------+

## **Rename Name Column and give New Name "Student_Name"**

In [50]:
df.columns

['Name', 'Marks', 'Grades', 'New_Marks']

In [51]:
df= df.withColumnRenamed('Name','Student_Name')

In [52]:
df.show()

+------------+-----+-------------+---------+
|Student_Name|Marks|       Grades|New_Marks|
+------------+-----+-------------+---------+
|     Priyang|   98|not available|     99.0|
|      Aadhya|   NA|           AB|     null|
|      Krisha|   99|           AA|    100.0|
|      Vedant|   87|           NA|     88.0|
|      Parshv|   90|           AC|     91.0|
|      Mittal|   NA|           BA|     null|
|     Archana|   82|           BB|     83.0|
+------------+-----+-------------+---------+

## **Display Name Of Students Having Marks Greater Than 90**

In [55]:
df.filter(df['Marks']>90).select('Student_Name').show()

+------------+
|Student_Name|
+------------+
|     Priyang|
|      Krisha|
+------------+

## **Display Name and Grades of The Students Having Marks Greater Than 90**

In [56]:
df.filter(df['Marks']>90).select(['Student_Name','Grades']).show()

+------------+-------------+
|Student_Name|       Grades|
+------------+-------------+
|     Priyang|not available|
|      Krisha|           AA|
+------------+-------------+

## **Sort Every Row Of The Dataset Into Descending Order**

In [57]:
df.orderBy(df['Marks'].desc()).show()

+------------+-----+-------------+---------+
|Student_Name|Marks|       Grades|New_Marks|
+------------+-----+-------------+---------+
|      Mittal|   NA|           BA|     null|
|      Aadhya|   NA|           AB|     null|
|      Krisha|   99|           AA|    100.0|
|     Priyang|   98|not available|     99.0|
|      Parshv|   90|           AC|     91.0|
|      Vedant|   87|           NA|     88.0|
|     Archana|   82|           BB|     83.0|
+------------+-----+-------------+---------+

## **Handling Missing Values**

In [58]:
from pyspark.sql.functions import mean

In [59]:
mean1 = df.select(mean(df['Marks'])).collect()

In [60]:
mean1[0][0]

91.2

In [61]:
df.fillna(mean1[0][0]).show()

+------------+-----+-------------+---------+
|Student_Name|Marks|       Grades|New_Marks|
+------------+-----+-------------+---------+
|     Priyang|   98|not available|     99.0|
|      Aadhya|   NA|           AB|     91.2|
|      Krisha|   99|           AA|    100.0|
|      Vedant|   87|           NA|     88.0|
|      Parshv|   90|           AC|     91.0|
|      Mittal|   NA|           BA|     91.2|
|     Archana|   82|           BB|     83.0|
+------------+-----+-------------+---------+